html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
  background-color: black;
  box-sizing: border-box;
   --clr-neon: hsl(28, 100%, 54%);
   --clr-bg: hsl(323 21% 16%);
  text-decoration: none; /* remove underline */
	color: inherit; /* remove blue */
}
@media only screen and (max-width: 700px){
  html{
    font-size: 50%; /* 16px * 62.5 = 10px = 1rem */
    box-sizing: border-box;
  }
  
  .header{
    grid-area: header;
    background-color: #203040;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
  }
  }

  a, a:hover, a:focus, a:active {   /*remove blue hyperlinks*/
    text-decoration: none;
    color: inherit;
}
  body {
  margin: 0;
  height: 100vh;
  color:white;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
  --clr-neon: hsl(28, 100%, 54%);
  --clr-bg: hsl(323, 21%, 16%);
}
*,
*::before,
*::after{
  box-sizing: border-box;
}
.neon-button{
  display: inline-block;
  background-color: #ff8000;
  cursor: pointer;
  text-decoration: none;
  color: black;
  border: var(--clr-neon) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  text-shadow: 0 0 0.125em hsl(0 0%, 100% / 0.3), 0 0 0.45 currentColor;
  /* box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon); */
  position: relative;
}
/* .neon-button::before{
  pointer-events: none;
  content: '';
  position: absolute;
  background: var(--clr-neon);
  top: 120%;
  left: 0;
  width: 0;
  height: 100%;
  transform: perspective(1em), rotateX(40deg), scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
} */
.neon-button:hover{
  content: '';
  background-color: #ff8000;
  box-shadow: 0 0 5em var(--clr-neon);
}
.neon-button:hover,
.neon-button:focus{
  color: var(--clr-bg);
  text-shadow: none;
}
.neon-button:hover::before,
.neon-button:focus::before{
  opacity: 1;
}
.neon-button:hover::after,
.neon-button:focus::after{
  opacity: 1;
}
/* Layout */
.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
header {
  grid-area: header;
  background-color: #000000;
}
main {
  grid-area: main;
  padding: 1rem;
}
footer {
  grid-area: footer;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
.middle{
  margin: 0 5rem 0;
}
/* Common */
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}

a {
  text-decoration: none;
}
a:hover {
  color: #ff8000;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
}
input,
select,
textarea {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  background-color: #363636;
  color: #cacaca;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*button {
  background-color: #f8f8f8;
  cursor: pointer;
}*/

button {
  padding: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  background-color: #f90;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input:hover,
select:hover,
textarea:hover,
button:hover {
  border: 0.1rem #f90 solid;
}
button.primary {
  background-color: #f90;
}
button.block {
  width: 100%;
}
button.small {
  font-size: 1.2rem;
}
/* Header */
header a {
  color: #ffffff;
  padding: 1rem;
}
a.brand {
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
  padding-right: 0.5rem;
}
a.brand2 {
  color: black;
  font-size: 3rem;
  font-weight: bold;
  background-color: #ff8000;
  border-radius: 5px;
  padding: 0.4rem;
}
.badge {
  background-color: #f02020;
  color: #ffffff;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.row.center {
  justify-content: center;
}
.row.top {
  align-items: flex-start;
}
.row.start {
  justify-content: flex-start;
}
.col-1 {
  flex: 1 1 25rem;
}
.col-2 {
  flex: 2 1 50rem;
}
.col-3 {
  flex: 32 1 75rem;
}
.min-30 {
  min-width: 30rem;
}
.p-1 {
  padding: 1rem;
}
/* Aside */
aside {
  
  background-color: rgba(0, 0, 0, 0.800);
  backdrop-filter: blur(4px);
  position: absolute;
  width: 30rem;
  height: 100%;


  z-index: 1000;
  transform: translateX(-30rem);
  transition: all 0.5s;
 
}
aside.open {
  transform: translateX(0);
  
}
button.open-sidebar {
  font-size: 3rem;
  padding: 0.2rem 0.5rem;
  margin: 0 0.5rem;
  background: none;
  color: #f90;
  cursor: pointer;
  border: none;
}
button.open-sidebar:hover {
  border-color: #1100ff8a;
}
aside ul {
  padding: 0;
  list-style: none;
}
aside li {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  color: white;
}
button.close-sidebar {
  padding: 0.3rem 0.8rem;
  top: 1%;
  margin-left: 85%;
  position: absolute;
}
aside strong{
  
  color:#f90;
  font-size: 3rem;
  font-weight: 700;
  position: absolute;
  top: 1%;
}
.cat{
  color: white;
}
aside a{
  color: white;
}

/* Image */
img {
  border-radius: 0.5rem;
}
img.small {
  max-width: 5rem;
  width: 100%;
}
img.medium {
  max-width: 29rem;
  width: 100%;
  display: flex;
}
img.large {
  width: 100%;
}

/* Card */
.card {
  /*border: 0.2rem #00000025 solid;*/
  background-color: #2b2b2b;
  border-radius: 0.75rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.05);
  margin: 2rem;
  height: 48rem;
  max-height: 60rem;
}
.card-body {
  padding: 1rem;
  color: rgb(10, 10, 10);
}
.card-body > * {
  margin-bottom: 10%;
  color: white;
}
.card image{
  display: flex;

}
.price {
  font-size: 2rem;
  color: white;
  /*font-weight:600;*/
}
/* Rating */

.rating span {
  color: #f90;
  margin: 0.1rem;
}
.rating span:last-child {
  color: #404040;
}
/* Alert */
.loading {
  display: block !important;
}
.success {
  color: #20a020;
}
.danger {
  color: #a02020;
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: white;
  background-color: #ff000062;
}
.alert-danger {
  color: black;
  background-color: #ff800034;
}
.alert-success {
  color: black;
  background-color: #ff800034;
}
/* Form */
.form {
  max-width: 60rem;
  margin: 0 auto;
  color: white;
}

.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.form label {
  display: flex;
  margin: 1rem 0;
}


.form input{
  display: flex;
  width: 100%;
  

}


/* Dropdown */
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.699);
  backdrop-filter: blur(4px);
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
}
.dropdown:hover .dropdown-content {
  display: block;
}
/* Checkout Steps */
.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
  font-weight: bold;
}
.checkout-steps > div.active {
  border-top-color: #f90;
  color: #f90;
}
/* Table */
.table {
  width: 100%;
  border-collapse: collapse;
  background-color: gray;
}
.table tbody tr:nth-of-type(odd) {
  background-color: #c0c0c0;
}
.table td,
.table th {
  text-align: left;
  border: 0.1rem solid #e4e4e4;
  padding: 0.5rem;
}
.table button {
  margin: 0 0.2rem;
}
/* Carousel */
.carousel .slide img {
  max-width: 30rem;
}
/* Search */
.search button {
  border-radius: 0 0.5rem 0.5rem 0;
  border-right: none;
  margin-right: 0.5rem;
}
.search input {
  border-radius: 0.5rem 0 0 0.5rem;
  border-right: none;
  margin-left: 0.5rem;
  background-color: #363636;
  border: none;
  color: white;
}
.search input:placeholder-shown{
  font-style: italic;
}
.active {
  font-weight: bold;
}

/* Map */
.full-container {
  margin: -1rem;
  height: calc(100% + 2rem);
}
.map-input-box {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0.5rem auto;
  width: 25rem;
  height: 4rem;
  display: flex;
}
.map-input-box input {
  border-radius: 1rem 0 0 1rem;
  border-right: 0;
}
.map-input-box button {
  border-radius: 0 1rem 1rem 0;
  border-left: 0;
}
/* Pagination */
.pagination a {
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.pagination a.active {
  font-weight: bold;
}

/* Dashboard */

.summary > li {
  border: 0.1rem #c0c0c0 solid;
  margin: 2rem;
  border-radius: 0.5rem;
  flex: 1 1 20rem;
}
.summary-title {
  font-size: 2rem;
  padding: 1rem;
}
.summary-body {
  font-size: 4rem;
  padding: 1rem;
  text-align: center;
}

.summary-title.color1 {
  background-color: #f0e0e0;
}
.summary-title.color2 {
  background-color: #e0f0e0;
}
.summary-title.color3 {
  background-color: #e0e0f0;
}

/* Chatbox */
.chatbox {
/*   
  color: #000000; */
  position: fixed;
  right: 1rem;
  bottom: 1rem;
}
.chatbox-body{
  border: 0.2rem #00000025 solid;
  border-radius: 0.75rem;
  margin: 1rem;
  background-color: black;
  padding: 1rem;
  color: white;
}
.chatbox ul {
  overflow: scroll;
  max-height: 20rem;
  color: #f90;
}
.chatbox li {
  margin-bottom: 1rem;
}
.chatbox input {
  background-color: black;
  color: white;
  width: calc(100% - 9rem);
}

.support-users {
  background: #f0f0f0;
  height: 100%;
}
.support-users li {
  background-color: #f8f8f8;
}
.support-users button {
  background-color: transparent;
  border: none;
  text-align: left;
}
.support-users li {
  margin: 0;
  background-color: #f0f0f0;
  border-bottom: 0.1rem #c0c0c0 solid;
}

.support-users li:hover {
  background-color: #f0f0f0;
}
.support-users li.selected {
  background-color: #c0c0c0;
}
.support-messages {
  padding: 1rem;
}
.support-messages input {
  width: calc(100% - 9rem);
}
.support-messages ul {
  height: calc(100vh - 18rem);
  max-height: calc(100vh - 18rem);
  overflow: scroll;
}
.support-messages li {
  margin-bottom: 1rem;
}

.support-users span {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: absolute;
  margin-left: -25px;
  margin-top: 10px;
}
.support-users .offline {
  background-color: #808080;
}
.support-users .online {
  background-color: #20a020;
}
.support-users .unread {
  background-color: #f02020;
}


.barcode1{
  position: absolute;
  top: 325px;
  margin-left: 30px;
  height: auto;
  width: 300px;
}

.expediteur{
  font-size: 13px;
  position: absolute;
  top:190px;
  margin-left:30px;
}
.adresse1{
  font-size: 12px;
  position: absolute;
  margin-top: 160px;
  margin-left: 30px;
  border: 1px solid black
}
.client{
  font-size: 20px;
  position: absolute;
  top: 470px;
  margin-left: 30px;
  border: 2px solid black;
  width: 350px;
  height: 200px;
}
.section1{
  margin-left: 30px;
  width: 475px;
  height: 700px;
  border: 2px solid black;
  margin-top: 20px;
}
.line{
  margin-left: 40px;
  width: 400px;
  margin-top: 30px;
  border-top: 5px solid black;
}
.section2{
  position: absolute;
  left: 600px;
  width: 300px;
  top: 130px;
}
.adresse1{
  font-size: 12px;
  position: absolute;
  top: 60px;
  margin-left: 30px;
  border: 1px solid black
}
.adresse2{
  font-size: 12px;
  position: absolute;
  top: 170px;
  left: 20px;
  border: 2px solid black;
  height: 400px;
  width:  400px;
  padding-left: 10px;
}
.adresse3{
  font-size: 12px;
  position: absolute;
  top: 20px;
  left: 20px;
}
.section3{
  position: absolute;
  left: 550px;
  width: 50px;
  top: 20px;
}
.cut{
  position: absolute;
  height: 500px;
  top: 50px;
}
.tel{
  font-size: 11px;
}
.dest{
  font-size: 13px;
  position: absolute;
  top:450px;
  margin-left:30px;
}
.detail1{
  margin-top: 20px;
  margin-left: 200px;
  width: 200px;
  height: auto;
}
.etiquette{
  position: relative;
  background-color: white;
}
@media print {
#footer{display: none;}
#header{display:none;}
#etiquette{
  position: relative;
  top: -70px;}
#print{ display:none;}
html{background-color: #ffffff;
  color : black;
}
}


.productImage{
  max-height: 600px;
}

textarea{
  max-width: 100%;
  width: 100%;
  height: auto;
  resize: none;
}

.comment{
  width: 1000px;
}